@charset "utf-8";
/* 기본 설정 및 reset */

@font-face {
    font-family: Godo;
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 100;
    vertical-align: baseline;
    background: transparent;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img,
object,
embed {
    max-width: 100%;
}

html {
    font-family: Godo, Noto-Sans, sans-serif, Helvetica;
}

ul,li,ol {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #111;
}


*.clearfix {
    *zoom: 1;
}

.clearfix:after {
    display: block;
    clear: both;
    content: '';
}

 .text_hide {
     position: absolute;
     left: -9999px;
 }

.text_indent {
    text-indent: -9999px;
}

button {
    cursor: pointer;
}

section {
    height: 100vh;
}